@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  scroll-margin-top: 100px; /* Offset for sticky header */
}

body {
	@apply bg-chiamo-light text-chiamo-text;
	font-family: 'Cagliostro', sans-serif; /* Default for body text */
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Cagliostro', sans-serif; /* For titles and headings */
	font-weight: 400; /* Default weight for headings */
}

/* You can adjust specific heading weights if needed, e.g.: */
h1 {
	font-weight: 600;
}
h2 {
	font-weight: 500;
}


@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
}